.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  margin-left: 16px;
  color: #31afdb;
  text-decoration: none;
}

.navigation a:hover {
  color: #18fc53;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #42ab77;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 40px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}