@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

.App {
  text-align: center;
  background-color: #191c29;
  height: 100%;
  font-family: 'Quantico', sans-serif;
}

h1 {
  color: white;
}
